<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.abtion.taskgo">

    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--sd卡读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--EM Required -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".TaskGoApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1129180112178143#neuqercc"/>
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true"/>
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>


        <activity android:name=".mvp.view.MainActivity"/>
        <activity android:name=".mvp.view.account.LoginActivity"/>
        <activity android:name=".mvp.view.account.RegisterActivity"/>

        <activity android:name=".mvp.view.task.activity.home.WaterTaskListActivity"/>
        <activity android:name=".mvp.view.task.activity.release.ReleaseWaterTaskActivity"/>
        <activity android:name=".mvp.view.task.activity.home.LostAndFoundTaskActivity"/>
        <activity android:name=".mvp.view.task.activity.SearchTaskActivity"/>

        <activity android:name=".mvp.view.message.activity.ChatWindowActivity"/>
        <activity android:name=".mvp.view.task.activity.release.ReleaseLostFoundTaskActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity android:name=".mvp.view.mine.activity.MyFollowActivity"/>
        <activity android:name=".mvp.view.mine.activity.MyFansActivity"/>
        <activity android:name=".mvp.view.mine.activity.FeedbackActivity"/>
        <activity android:name=".mvp.view.mine.activity.RealNameActivity"/>
        <activity android:name=".mvp.view.task.activity.my.MyAcceptTaskActivity"/>
        <activity android:name=".mvp.view.task.activity.my.MyReleasedTaskActivity"/>
        <activity android:name=".mvp.view.mine.activity.SettingActivity"/>
        <activity android:name=".mvp.view.mine.activity.AboutAvtivity"/>
        <activity android:name=".mvp.view.mine.activity.EditDataActivity"/>
        <activity android:name=".mvp.view.mine.activity.ChangeNameActivity"/>
        <activity android:name=".mvp.view.mine.activity.ChangePasswordActivity"/>
        <activity android:name=".mvp.view.task.activity.my.ChooseFinishUserListActivity"/>
        <activity android:name=".mvp.view.account.ForgetPasswordActivity"/>
        <activity android:name=".mvp.view.mine.activity.PersonalPageActivity"/>

        <activity android:name=".mvp.view.initiate.GuideActivity"/>
        <activity android:name=".mvp.view.initiate.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>